body{
    background-color: #201816;
    font-family: monospace;
    margin: 0;
    padding: 0;
}


.page{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content{

    max-width: 800px;
    padding: 20px;
}

h1{
    display: flex;
    justify-content: center;
    color: #C89D66;
    font-family: cursive, serif;
}

h2{
    display: flex;
    justify-content: center;
    color: #FAEEDE;
    font-family: monospace;
}

.image-container{

    display: flex;
    justify-content: center;
}

.image-link{

    display: block;
    max-width:100%;
    height: auto;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
    grid-gap: 10px; /* Adjust the gap between grid items */
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .grid-item iframe {
    width: 100%;
    height: 100%;
  }

body{
    background-color: #201816;
    font-family: monospace;
    margin: 0;
    padding: 0;
}



.page{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content{

    max-width: 800px;
    padding: 20px;
}

h1{
    color: #C89D66;
    font-family: cursive, serif;
}

h2{
    display: flex;
    justify-content: center;
    color: #FAEEDE;
    font-family: monospace;
}

.image-container{

    display: flex;
    justify-content: center;
}

.image-link{

    display: block;
    max-width:100%;
    height: auto;
    margin-top: 20px;
}


.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #333;
    
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C89D66;
    cursor: pointer;
}

.nav-item img {
    width: 50px;
    height: 50px;
}

.nav-item span {
    margin-top: 5px;
}

.nav-item img {
    width: 50px;
    height: 50px;
}

.nav-item span {
    margin-top: 5px;
}