body{
    background-color: #201816;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.image-container{

    display: flex;
    flex-grow: 1;
    height: 100px;
}

.image-container + .image-container{
    margin-left: 2%;
}

.image-container img{

    margin: 0 10px;
    max-width: 200px;
    max-width:200px;
    height: auto;
}