body{
    background-color: #201816;
    font-family: monospace;
    margin: 0;
    padding: 0;
}



.page{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content{

    max-width: 800px;
    padding: 20px;
}

h1{
    display: flex;
    justify-content: center;
    color: #C89D66;
    font-family: cursive, serif;
}

h2{
    display: flex;
    justify-content: center;
    color: #FAEEDE;
    font-family: monospace;
}

.image-container{

    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.img{

    margin-top: 8px;
    vertical-align: middle;
}


.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #333;
    
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C89D66;
    cursor: pointer;
}

.nav-item img {
    width: 50px;
    height: 50px;
}

.nav-item span {
    margin-top: 5px;
}